In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("../data/EURUSD1440.csv", header=None, sep="\t", 
                 names=["Time", "Open", "High", "Low", "Close", "Volume"])
df

                  Time     Open     High      Low    Close   Volume
0     2007-01-01 00:00  1.31908  1.32176  1.31650  1.32120  1995282
1     2007-01-02 00:00  1.32137  1.32951  1.32101  1.32724  2009661
2     2007-01-03 00:00  1.32702  1.32903  1.31461  1.31690  2016603
3     2007-01-04 00:00  1.31689  1.31783  1.30704  1.30860  2007990
4     2007-01-05 00:00  1.30866  1.31029  1.29804  1.29995  1916561
...                ...      ...      ...      ...      ...      ...
4226  2020-07-05 00:00  1.12433  1.12494  1.12411  1.12466     2530
4227  2020-07-06 00:00  1.12467  1.13454  1.12467  1.13123   145701
4228  2020-07-07 00:00  1.13123  1.13325  1.12588  1.12744   162692
4229  2020-07-08 00:00  1.12745  1.13518  1.12623  1.13372   163848
4230  2020-07-09 00:00  1.13372  1.13706  1.12801  1.12879   195462

[4231 rows x 6 columns]